

@using HocAspMVC4_Test.Views.Shared.Components.CategorySidebar
@using HocAspMVC4_Test.Models.Blog

@model Post

@{
    List<Category> categories = ViewBag.categories as List<Category>;
    Category category = ViewBag.category as Category;
    ViewData["Title"] = Model.Title;

    IQueryable<Post> otherPosts = ViewBag.otherPosts as IQueryable<Post>;

    IQueryable<Post> postmoi = ViewBag.postmoi as IQueryable<Post>;
}

@*<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            @if (category != null)
            {
                var li = category.ListParents();
                foreach (var l in li)
                {
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-route-categoryslug="@l.Slug">@l.Title</a>
                    </li>
                }
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug="@category.Slug">@category.Title</a>
                </li>
            }
        </ol>
    </nav>*@


@*<div class="detailpost">
        <h1>@Model.Title</h1>
        <div class="sapo">
            @Model.Description
        </div>
        <br />
        <div>
            <i>Cập nhật: @Model.DateUpdated</i> / Tác giả: <strong>@Model.Author.UserName</strong>
        </div>
        <hr />
        @Html.Raw(Model.Content)
    </div>*@

@{
    var srcImg = "/contents/nophoto.jpeg";
    if (Model.Photos.Any())
    {
        srcImg = $"/contents/BlogPhoto/{Model.Photos.FirstOrDefault().FileName}";
    }
}


<section class="post-header">
    <div class="header-content post-container">
        <!--Back to home-->
        <a href="./index.html" class="back-home">Back to home</a>
        <!--Title-->
        <h1 class="header-title">@Model.Title</h1>
        <!--Post image-->
        <img src="@srcImg"
             alt="" class="header-img">

    </div>
</section>



@*Posts*@
<section class="post-content  post-container ">
    <p class="post-text"> @Html.Raw(Model.Content)</p>
</section>



<!--Share-->
<div class="share post-container" style="margin-bottom: 15px">
    <span class="share-title">Share this article</span>
    <div class="social">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
</div>

<div class="otherpost-box">
    <h4>
        Các bài viết mới
    </h4>
    @foreach (var post in postmoi)
    {
        <hr />
        <div class="otherpost-box-description">
            <a asp-controller="ViewPost" asp-action="Details" asp-route-postslug="@post.Slug ">
                @post.Title
            </a>
        </div>
    }
</div>


<!--Jquerry link-->
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>




@section Sidebar {
    @await Component.InvokeAsync("HocAspMVC4_Test.Views.Shared.Components.CategorySidebar.CategorySidebar", new CategorySidebar.CategorySibarData()
     {
         Categories = categories,
         level = 0,
         categoryslug = category.Slug
     })
    <div class="otherpost-box">
        <h6 style="font-weight: 600">
            <a asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="">
                Bài cùng chuyên mục
            </a>
        </h6>

        @foreach (var post in otherPosts)
        {
            <hr />
            <div class="otherpost-box-description">
                <a asp-controller="ViewPost" asp-action="Details" asp-route-postslug="@post.Slug ">
                    @post.Title
                </a>
            </div>
        }
    </div>
}